.bgindex{
    object-fit: cover;
    width: 100%;
    height: 35em;
}

.pdmenu{
    padding: 0.5%;
}

.text1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.icon{
    font-size: 120%;
    color: #db2531;
}

.texts1{
    font-weight:lighter;
    font-size: 130%;
}

.texts2{
    font-weight: initial;
}

.img1{
    width: 100%;
}

.x1{

    text-align: center;
    
}

.texttitle{

    color:#ffffff;
    margin-top: -440px;
    font-size: 140%;
}

.AB{
    margin-top: 120px;
    font-size: 2.5em;
}

.mid{
    width: 90%;
    padding: 5px;
}

.logo{
    margin-top: 10px;
    width: 170px;
    margin-left: -29px;
}

.font1{

    font-family: 'Roboto', sans-serif;
}
.gg{

    border: 1px solid #db2531;
    padding: 10px 32px;
    color: #db2531;
    margin-left: 10px;
    font-weight: bolder;
}

.title4{
    padding: 2.3%;
}

.signin{
    min-width: 350px;
}

@media only screen and (max-width: 460px) {
    .signin{
        min-width: 290px;
    }
}
@media only screen and (max-width: 600px) {
    .texttitle {
      font-size: 110%;
      text-align: center;
    }

    .logo{
        width: 120px;
    }
    .gg{
        padding: 0px;
        background-color: antiquewhite;
    }

    .AB{
        font-size:200%;
        margin-top:30px ;
        text-align: center;
    }
    .AB2{
        text-align: center;
    }

    .title4{
        padding-top: 40px;
        padding-bottom: 40px;
    }
  }



